
@import 'base/font';
@import 'base/color';
@import 'base/base';

@import 'nav';
@import 'popup';
@import 'slideshow';
@import 'footer';

.PrimaryColor {
	color: $primary-color;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 40px;
  position: relative;
}

.event-container {
  max-width: 1024px;
  margin: 0 auto;
  height: auto;
	position: relative;
}

.info-container {
  position: relative;
  width: 80%;
}

.event-block {
  position: relative;
  float: left;
	margin: 10px auto;
}

.events {
	float: left;
	.event-image {
		float: left;
		width: 30%;
		min-width: 240px;
		img {
			width: 100%;
		}
	}

	.event-content {
		float: left;
		width: 60%;
		margin: 0 auto;
		margin-left: 20px;
	}
	hr {
		float: left;
	}
}

.info {
  width: 100%;
	margin: 0 auto;
	float: left;
	position: relative;
	padding: 60px;
	background-color: darken($white, 10%);
		img {
			width: 100%;
			position: relative;
		}
		.info-container {
			text-align: center;
			width: 100%;

			h3 {
			width: 80%;
			margin: 0 auto;
			margin-bottom: 20px;
			}
		}
}

.info-btn, .submit-btn {
	position: relative;
	padding: 10px 20px;
	background-color: $primary-color;
	color: $white;
	text-decoration: none;
	border: 1px solid darken($primary-color, 20%);
	border-radius: 4px;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.info-btn:hover {
	background-color: darken($primary-color, 20%);
}

.map {
	width: 100%;
	float: left;
	position: relative;
}

#contactus-btn {
	position: relative;
	padding: 10px;
	font-size: 14px;
	background-color: $primary-color;
	color: $white;
	text-decoration: none;
	border: 1px solid darken($primary-color, 20%);
	border-radius: 4px;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
	transition: all 1s;
	cursor: pointer;
	outline: none;
}
#contactus-btn:hover, #contactus-btn:focus {
	background-color: darken($primary-color, 20%);
}
